<mat-card>
    <mat-card-title>Create new user</mat-card-title>
    <mat-card-subtitle>Please fill in required information</mat-card-subtitle>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <p>First name: <input type="text" formControlName="firstName"></p>
        <p>Last name: <input type="text" formControlName="lastName"></p>
        <p>Date of birth: <input type="date" formControlName="dateOfBirth"></p>
        <p>User is married:<input type="checkbox" formControlName="isMarried"></p> 
        <p></p>
        <p><label>Gender:</label></p>
        <mat-radio-group formControlName="gender">
            <mat-radio-button value="1">Female</mat-radio-button>
            <p></p>
            <mat-radio-button value="2"> Other</mat-radio-button>
        </mat-radio-group>
        <p></p>
        <label>Option</label>
        <mat-radio-group formControlName="role">
            <p>
                <mat-radio-button value="0">User</mat-radio-button>
            </p>
            <p>
                <mat-radio-button value="1">Admin</mat-radio-button>
            </p>
        </mat-radio-group>
        <p></p>

        <Button mat-button type="submit">Submit</Button>
        <Button mat-button>Cancel</Button>
    </form>



</mat-card>